{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Agent Game</title>
    <link rel="stylesheet" href = "{% static 'css/game.css' %}">
</head>

<body>
    <button type = "button" class = "collapse"  onclick = "togglemenu(event)"></button>
    <div class = "menucontent">
        <ul class = "menu">
            <form action = "{% url 'home' %}" method = "Get">
                {% csrf_token %}<button class = "bar" type = "submit"><h4>Back To Home Menu</h4></button>
            </form>
            <form action = "{% url 'instructions' %}" method = "POST">
                <input type = "hidden" name = "word" value = "{{word}}">
                <input type = "hidden" name = "guessedword" value = "{{guessedword}}">
                <input type = "hidden" name = "addletter" value = "{{letter}}">
                <input type = "hidden" name = "tries" value = "{{tries}}">
                <input type = "hidden" name = "back" value = "{{back}}">
                <input type = "hidden" name = "origin" value = "agentplaygame">
                {% csrf_token %}<button class = "bar" type = "submit"><h4>Instructions</h4></button>
            </form>
            <form target = "_blank" action = "{% url 'helpertool' %}" method = "POST">
                <input type = "hidden" name = "defaulttab" value = "Green">
                {% csrf_token %}<button class = "bar" type = "submit"><h4>Use Helper Tool</h4></button>
            </form>
        </ul>
    </div>
    <script src = "{% static 'js/script.js' %}"></script>
    <div class = "gamebox">
        <div class = "middle">
            {% for guessnum, guess in guesses.items %}
                <div class = "letterbox">
                    {% for guesslet in guess %}
                        {% if guesslet.1 == "green" %}
                            <button class = "greenbox" disabled>{{guesslet.0}}</button>
                        {% elif guesslet.1 == "orange" %}
                            <button class = "orangebox" disabled>{{guesslet.0}}</button>
                        {% elif guesslet.1 == "gray" %}
                            <button class = "graybox" disabled>{{guesslet.0}}</button>
                        {% else %}
                            <button class = "whitebox" disabled>{{guesslet.0}}</button>
                        {% endif %}
                    {% endfor%}
                </div>
            {% endfor%}
            <div class = "currletterbox">
                {% for guess in currguess %}
                    {% if guess.1 == "green" %}
                        <button class = "greenbox"  disabled>{{guess.0}}</button>
                    {% elif guess.1 == "orange" %}
                        <button class = "orangebox"  disabled>{{guess.0}}</button>
                    {% elif guess.1 == "gray" %}
                        <button class = "graybox"  disabled>{{guess.0}}</button>
                    {% else %}
                        <button class = "whitebox"  disabled>{{guess.0}}</button>
                    {% endif %}
                {% endfor%}
            </div>
            {% for j in remaining %}
                <div class = "currletterbox">
                    {% for i in j %}
                        <button class = "whitebox"  disabled>{{guess.0}}</button>
                    {% endfor%}
                </div>
            {% endfor%}
            {% if error == "True" %}
                <div class = "popup">
                    <h1>{{guessedword}} is not a valid word</h1>
                    <button class = "closepopupbtn"  onclick = "closepopup(event)">Ok</button>
                </div>

                <script src = "{% static 'js/script.js' %}"></script>
            {% endif %}
            <div class = "botbar">
                <div class = "letterbar">    
                    <div class = "letterbox">
                        <form action = "{% url 'agentgame' %}" method = "POST">
                            {% csrf_token %}
                            <input type = "hidden" name = "word" value = "{{word}}">
                            <input type = "hidden" name = "guessedword" value = "{{guessedword}}">
                            <input type = "hidden" name = "tries" value = "{{tries}}">
                            <input type = "hidden" name = "submit" value = "True">
                            <button type= "submit" value="Enter" class = "whiteboxbtn">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>