.gamebox {
    width: 80%;
    float: right;
}

.box {
    display: block;
    border-radius: 15px;
    border: 2px solid black;
    margin: auto;
    height: 50%;
    width: 80%;
    overflow: hidden;
    padding: 15px; 
}

.guessboxsplit {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.guessbox {
    display: block;
    border-radius: 15px;
    margin: 5px;
    height: 100%;
    width: 50%;
    overflow: auto;
    padding: 15px;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
    left: 0;
	width: 20%;
	position: fixed;
}

.bar:hover {
	background-color: rgb(91, 91, 91);
    cursor: pointer;
    transform: translateY(-3px);
}

button.bar {
    display: block;
	text-decoration: none;
    color: white;
	text-align: center;
	font-size: 10pt;
    background-color: gray;
    width: 80%;
    padding: 30px;
    border-radius: 15px; 
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 0 0 rgb(31, 31, 31);
}

button.bar:active {
    transform: translateY(10px);
    box-shadow: none;
}

.middle {
    margin: auto;
    text-align: center;
}

.guesses {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.splitbox {
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.gamebox {
    display: inline-block;
}

.botbar {
    position: fixed;
    bottom: 0;
    height: 35%;
    width: 100%;
}

.letterbar {
    width: 80%;
}

.letterbox {
    text-align: center;
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;  
}

.leftletterbox {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-left: 0;
}

.letterrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.currletterbox {
    margin: auto;
    text-align: center;
    display: flex;
    height: 30%;
    width: 100%;
}

.greenboxbtn:hover, .orangeboxbtn:hover, .grayboxbtn:hover, .whiteboxbtn:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.greenbox, .orangebox, .graybox, .whitebox, .greenboxbtn, .orangeboxbtn, .grayboxbtn, .whiteboxbtn  {
    display: inline-block;
	list-style-type: none;
	padding: 0;
    border-radius: 15px;
    border: 2px solid black;
    margin: 5px;
    height: 50px;
    width: 50px;
    color: black;
}

.greenbox {
    background-color: #00cc74;
}

.orangebox {
    background-color: orange;
}

.graybox {
    background-color: gray;
    color: white;
}

.whitebox {
    background-color: white;
}

.greenboxbtn {
    background-color: #00cc74;
    box-shadow: 0 5px 0 0 #00844b, 0 7px 0 0 black;
}

.greenboxbtn:hover {
    background-color: #00b365;
}

.orangeboxbtn {
    background-color: orange;
    box-shadow: 0 5px 0 0 rgb(186, 121, 0), 0 7px 0 0 black;
}

.orangeboxbtn:hover {
    background-color: rgb(217, 141, 1);
}

.grayboxbtn {
    background-color: gray;
    color: white;
    box-shadow: 0 5px 0 0 rgb(31, 31, 31), 0 7px 0 0 black;
}

.grayboxbtn:hover {
    background-color: rgb(91, 91, 91);
}

.whiteboxbtn {
    background-color: white;
    box-shadow: 0 5px 0 0 rgb(195, 195, 195), 0 7px 0 0 black;
}

.whiteboxbtn:hover {
    background-color: rgb(228, 228, 228);
}

.box {
    display: block;
    border-radius: 15px;
    border-color: black;
    border: 10px;
    margin: auto;
    height: 50%;
    width: 50%;
    overflow: hidden;
    padding: 15px;
}

.buttoncolumn {
    padding-top: 10px;
    padding-bottom: 5px;
}

.menu_button {
    width: 25%;
    min-height: 25%;
}

.menu_button, .menu_button_bott_left, .menu_button_bott_right {
    color: white;
    border-radius: 15px; 
    text-align: center;
    background-color: gray; 
    box-shadow: 0 10px 0 0 rgb(31, 31, 31);
    margin-top: 10px;
    margin-bottom: 20px;
}

.menu_button:active, .menu_button_bott_left:active, .menu_button_bott_right:active {
    transform: translateY(10px);
    box-shadow: none;
}

.greenboxbtn:active, .orangeboxbtn:active, .whiteboxbtn:active, .grayboxbtn:active {
    transform: translateY(8px);
    box-shadow: none;
}

.menu_button:hover, .menu_button_bott_left:hover, .menu_button_bott_right:hover {
    background-color: rgb(91, 91, 91);
    transform: translateY(-3px);
    cursor: pointer;
}

.menu_button_bott_left, .menu_button_bott_right {
    bottom: 0;
    min-height: 20px;
    min-width: 20px;
}

.menu_button_bott_left {
    float: left;
}

.menu_button_bott_right {
    float: right;
}



